html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.head {
  background-color: #fff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px #ddd
}

.head img {
  height: 40px;
}
.content {
  display: flex;
  width: 80%;
  margin: 0 auto;
  /* height: 1000px; */
}


.content-left {
  width: 20%;
  background-color: #2d4054;
  border: 1px dashed #f60;
}

.container{
  width: 95%;
  margin: 0 auto;
}
.content-right {
  border: 1px dashed rgb(87, 51, 27);
  width: 80%;
  overflow: hidden;
  /* display: flex; */
  
}

.menu li span {
  margin-left: 10px;
}

.menu li {
  display: flex;
  align-items: center;
  height: 45px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.contain{
  display: flex;
}
.building:first-child div{
  color: #fff;
  font: 18px;
  width: bold;
}
.contain .building{
  background-color: #ff9a2a;
  height: 100px;
  width: 250px;
  margin-top: 10px;
}
.contain .ldle{
  background-color: #7fbc39;
  height: 100px;
  width: 250px;
  margin: 10px 0 0 30px;
}
.contain .total{
  background-color: #ddd;
  height: 100px;
  margin: 10px 0 0 30px;
  width: 250px;
}

.content-right .header{
  background-color: #ddd;
  margin-top: 10px;
  height: 50px;
}
.message ul li{
  list-style: none;
  height: 150px;
  background-color: #f60;
  margin-top: 10px;
}
/*--------------------*/

@font-face {
  font-family: 'cruise';
  src: url('fonts/cruise.ttf?srz1pg') format('truetype'), url('fonts/cruise.woff?srz1pg') format('woff'), url('fonts/cruise.svg?srz1pg#cruise') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cruise' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-desktop:before {
  content: "\e30c";
}

.icon-boat:before {
  content: "\e532";
}

.icon-deny:before {
  content: "\e611";
}

.icon-folder:before {
  content: "\e2c8";
}

.icon-info:before {
  content: "\e88f";
}

.icon-plus:before {
  content: "\f067";
}

.icon-search:before {
  content: "\f002";
}

.icon-th-card:before {
  content: "\f00a";
}

.icon-th-list:before {
  content: "\f00b";
}

.icon-close:before {
  content: "\f00d";
}

.icon-cog:before {
  content: "\f013";
}

.icon-trash:before {
  content: "\f014";
}

.icon-sign-in:before {
  content: "\f090";
}

.icon-navicon:before {
  content: "\f0c9";
}

.icon-dashboard:before {
  content: "\f0e4";
}

.icon-sitemap:before {
  content: "\f0e8";
}

.icon-coffee:before {
  content: "\f0f4";
}

.icon-angle-up:before {
  content: "\f106";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-life-bouy:before {
  content: "\f1cd";
}

.icon-id-card:before {
  content: "\f2c3";
}